* {
    z-index: 0;
    box-sizing: border-box;
}

.box {
    border-radius: 40px;
    float:left;
    width: 33.33%;
    padding: 70px;
    height: 40vh;
}

.belowBox {
    border-radius: 40px;
    height: 25vh;
    padding: 70px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/*BOX DESIGN*/

.container {
    width: 600px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    align-content: center
}

#bankBox {
    border: 3px solid darkblue;
}
#workBox {
    border: 3px solid darkblue;
}
#laptopBox {
    border: 3px solid darkblue;

}
#boxBelow {
    border: 3px solid darkblue;
}