* {
    z-index: 0;
    box-sizing: border-box;
}

.belowBox {
    border-radius: 40px;
    height: 25vh;
    padding: 70px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/*BOX DESIGN*/

.container {
    width: 600px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    align-content: center;
}

#bankBox {
    background: linear-gradient(to top left, #d7f1e7, #92dfc1);
    border: 2px solid black;
}
#workBox {
    background: linear-gradient(to top left, #d7e7f1, #9abdd3);
    border: 2px solid black;
}
#laptopBox {
    background: linear-gradient(to top left,#f2f1f3, #bfaddf);
    border: 2px solid black;

}
#boxBelow {
    border: 2px solid black;
}