.btn {
    padding: 5px 5px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 2px rgb (137, 160, 159);
}
.btn:active {
    box-shadow: 0 3px rgb(137, 160, 159);
    transform: translateY(2px);
}
/*GET A LOAN BUTTON*/
#getALoanBtn:hover {
    background-color: aquamarine;
}
#getALoanBtn:active {
    background-color: aquamarine;
}
/*BANK BUTTON*/
#bankBtn:hover {
    background-color: rgb(235, 235, 123);
}
#bankBtn:active {
    background-color: rgb(235, 235, 123);
}
/*WORK BUTTON*/
#workBtn:hover {
    background-color: blue;
    color:white;
}
#workBtn:active {
    background-color: blue;
    color:white;
}
/*BUY NOW BUTTON*/
#buyNowBtn:hover {
    background-color: #34c0eb;
}

#buyNowBtn:active {
    background-color: #34c0eb;
}

/*REPAY LOAN BUTTON*/
#repayLoanBtn {
    font:bolder;
    display:none;
    /* hidden */
}
#repayLoanBtn:hover {
    background-color: rgb(245, 112, 112);
}
#repayLoanBtn:active {
    background-color: rgb(245, 112, 112);
}
